.form-control {
    text-align: center;
    margin-bottom: 10px;
    max-width : 500px;
    display : inline-block;
    
}
body {
   background-color: #1B2631;
}

.label{
    font-size : x-large;
    margin-bottom : 20px;
    display: inline-block;
}
.btn-lg{
    margin-top: 10px !important;
    margin-bottom : 10px !important;
    display: inline-block;
}
.hp-link{
    margin-bottom: 30px;
    display: inline-block;
}
h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 75px;
    color :antiquewhite;
    padding-bottom : 20px;
}
h2 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 35px;
    color: antiquewhite;
    padding-bottom : 10px;
}
.file-field{
    padding-bottom : 10px;
}
.imagePost{
    margin-top : 10px;
    margin-bottom:10px;
}
.textPost{
    margin-top : 10px;
    margin-bottom : 10px;
}
.profileLabel {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 20px;
    color: antiquewhite;
}
.profileSideLabel {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 20px;
    color: antiquewhite;
    padding-bottom : 15px;
}
.edit-items{
    margin-top : 20px;
}
#editprofileh1{
    margin-bottom : 50px;
}
.calendar {
    display: inline-block;
    margin-bottom : 15px;
}
.imgItem{
    margin-top : 30px;
    margin-bottom : 30px;
}
